ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  color: black;
  background-color: white;
  box-shadow: 20px 20px 20px rgb(190, 207, 225);
}

li {
  float: left;
}
li:not(:first-child) {
  margin-left: 10px;
}

a {
  color: black;
}
